$redGmail: rgba(234, 67, 53,1);
$blueFacebook: rgba(66,103,178,1);
$disLB1: 107px;
$disLB2: 135%;
$positionLB1: relative;
$fontSizeLB1: 40px;

.colorScssLB1 {
    color: $redGmail;
   font-size: $fontSizeLB1;
   position: $positionLB1;
   top: $disLB1;
   left: $disLB2;
}

.colorScssLB2 {
    color: $blueFacebook;
    font-size: $fontSizeLB1;
    position: $positionLB1;
    top: $disLB1;
    left: $disLB2;
}