$disH1: 62px;
$fontSizeH1: 24px;
$fontSizeH2: 12px;

.rowScssH1 {
    height: $disH1;
}

.searchScssH1 {
    font-size: $fontSizeH1;
}

.groupScssH1 {
    margin-top: $fontSizeH2;
    float: right;
    margin-right: -10px;
}

.login:hover {
    color: white !important;
    background-color: rgb(156,34,93) !important;
}