.card_home {
    background-color: white;
    border-radius: 7px;
}

.margin_bottom {
    margin-bottom: 100px;
}

.temperature {
    color: blue;
}

.searchStyle{
    background-color: white !important;
    height: 45px !important;
}

#inputSearch {
    width: 85% !important;
    height: 45px;
    border: none !important;
    border-radius: 4px !important;
}