$redGmail: rgba(234, 67, 53,1);
$blueFacebook: rgba(66,103,178,1);
$positionLB1: relative;
$fontSizeLB1: 40px;

.colorScssLB1 {
    color: $redGmail;
    font-size: $fontSizeLB1;
    float: right;
}

.colorScssLB2 {
    color: $blueFacebook;
    font-size: $fontSizeLB1;
    float: right;
}

.onHover {
    cursor: pointer;
}