@import "./LeftBar.scss";

$greenGmail: rgba(15,157,88,1);
$yellowGmail: rgba(244,180,0,1);
.btnScssNB1 {
    background-color: white;
    border-radius: 5px;
    border:2px solid black;
}

.btnScssNB1:hover {
    color: $redGmail;
    border: 2px solid $redGmail;
}
